.home-main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    
      
    
    
}
.home-note-title{
    display: flex;
    justify-content: center;
    align-items: center;

}
.home-note-items{
    padding-left: 2rem;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}